body {
  font-family: arial, sans-serif;
  background-color: #ffebd3;
}

h1 {
  color: #264e70;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 0;
}

.btn {
  background-color: #264e70;
  border-color: white;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #264e70;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.meteorology-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  border-width: 2px;
  border-color: #363b4e;
  background-color: #ffe0e0;
  margin-top: 110px;
  background-image: url("https://i.pinimg.com/474x/dc/c6/53/dcc653fb7f1038eb0cd0081ab7338539.jpg");
}

.meteorology-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.col-4 {
  padding-top: 20px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temp img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temp strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  color: #264e70;
}

.weather-temp .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temp .active {
  color: black;
  cursor: default;
}

.weather-temp .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 30px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 15px;
  color: #000;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  color: #264e70;
}

.weather-forecast-temperatures {
  font-size: 15px;
  color: #264e70;
}
